.about {
  width: var(--desktop-width);
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;

  &__img {
    flex: 1;
    width: 50%;
    height: fit-content;
    border-radius: var(--radius-s);
  }

  &__container {
    flex: 1;
  }

  &__text {
    font-size: 20px;
    line-height: 29px;
    color: var(--gray-text-color)
  }
}

@media screen and (max-width: 1900px) {
  .about {
    gap: 100px;

    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .about {
    gap: 70px;

    &__container .title {
      margin-bottom: 10px;
    }
  }
}


@media screen and (max-width: 1400px) {
  .about {
    margin: 0 auto 60px auto;

    &__text {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .about {
    gap: 30px;

    &__text {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    &__text {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 720px) {
  .about {
    flex-direction: column;
    align-items: start;

    &__text {
      font-size: 16px;
      line-height: 22px;
    }

    &__img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 520px) {
  .about {
    &__img {
      width: 100%;
    }

    &__text {
      font-size: 12px;
      line-height: 15px;
    }
  }
}