.advantages {
  width: var(--desktop-width);
  margin: 0 auto 100px auto;
  padding: 84px 70px;
  border-radius: var(--radius-s);
  background: url(../assets/img/advantages.jpg) center/cover no-repeat;

  &__title {
    color: var(--white-text-color);
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 42px;
    border-radius: var(--radius-s);
    border: 1px solid var(--white-color);
    transition: all .1s ease-in-out;

    &:hover {
      background: #34A8BB;
      box-shadow: var(--box-shadow);

      .advantages__img {
        transform: scale(1.2);
      }
    }

    p {
      text-align: center;
      color: var(--white-text-color);
    }
  }

  &__img {
    width: 60px;
    height: 50px;
    object-fit: contain;
    transition: all .1s ease-in-out;
  }
}


@media screen and (max-width: 1900px) {
  .advantages {
    &__item {
      padding: 40px 20px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .advantages {
    padding: 64px 50px;

    &__container {
      gap: 12px;
    }
    &__item {
      width: calc(25% - 9px);
      gap: 25px;

      p {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .advantages {
    margin: 0 auto 60px auto;
    padding: 55px 42px;

    &__item {
      gap: 20px;

      p {
        font-size: 12px;
        line-height: 13px;
      }
    }
    &__img {
      width: 50px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .advantages {
    padding: 38px 30px;

    &__container {
      gap: 10px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__item {
      width: calc(25% - 7.5px);
      padding: 32px 6px;

      p {
        font-size: 10px;
        line-height: 12px;
      }
    }
    &__img {
      width: 45px;
      height: 37px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .advantages {
    width: 100%;

    &__container {
      gap: 10px
    }
  }
}

@media screen and (max-width: 720px) {
  .advantages {
    padding: 40px 16px;

    &__item {
      width: calc((100% - 20px) / 3);
      gap: 15px;

      p {
        font-size: 12px;
      }
    }

    &__img {
      width: 35px;
      height: 30px;
    }
  }
}
@media screen and (max-width: 520px) {
  .advantages {
    &__item {
      width: calc(50% - 5px);
      gap: 15px;

      p {
        font-size: 14px;
      }
    }
  }
}