.banner {
  width: var(--desktop-width);
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__slider {
    width: 100%;
  }

  &__slider-pagination {
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0;
    text-align: center;

    .swiper-pagination-bullet {
      background-color: white;
    }
  }

  &__main {
    padding: 105px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: url(../assets/img/footer.jpg) 10% 0/cover no-repeat;
    border-radius: var(--radius-s);
    position: relative;
  }

  &__bg-img {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 80%;
    width: fit-content;
    max-width: 40%;
    object-fit: contain;
  }

  &__title {
    display: block;
    max-width: 60%;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: var(--white-text-color);
    position: relative;
    z-index: 2;
  }

  &__btn {
    display: block;
    width: fit-content;
  }

  &__sidebar {
    min-width: 375px;
    max-width: 375px;
    background: url(../assets/img/banner-small.jpg) center/cover no-repeat;
    border-radius: var(--radius-s);
    padding: 105px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__header {
    display: flex;
    gap: 14px;
  }

  &__header-icon {
    width: 52px;
    height: 52px;
    object-fit: contain;
  }

  &__header-title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: var(--white-text-color);
    text-transform: uppercase;
  }

  &__caption {
    font-weight: 300;
    line-height: 18px;
    font-size: 15px;
    color: var(--white-text-color);
    margin-bottom: 40px;
  }

  &__footer {
    .btn {
      min-width: fit-content;
    }
  }
}

@media screen and (max-width: 1900px) {
  .banner {
    &__main {
      padding: 40px;
      gap: 30px;
    }

    &__title {
      max-width: 70%;
      font-size: 28px;
      line-height: 32px;
    }

    &__bg-img {
      height: 90%;
      max-width: 45%;
    }

    &__sidebar {
      padding: 80px 30px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .banner {
    &__main {
      padding: 30px;
      gap: 20px;
    }

    &__title {
      font-size: 22px;
      line-height: 26px;
    }

    &__bg-img {
      height: 90%;
      max-width: 45%;
    }

    &__sidebar {
      min-width: 250px;
      max-width: 250px;
      padding: 60px 20px;
    }

    &__header {
      gap: 10px;
    }

    &__header-title {
      font-size: 18px;
      line-height: 20px;
    }

    &__header-icon {
      width: 38px;
      height: 38px;
    }

    &__caption {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 14px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .banner {
    margin: 0 auto 60px auto;
    gap: 10px;

    &__sidebar {
      min-width: 220px;
      max-width: 220px;
      padding: 50px 15px;
      gap: 10px;
    }

    &__slider-pagination {
      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        margin: 0 3px !important;
      }
    }

    &__header {
      gap: 8px;
    }

    &__header-title {
      font-size: 16px;
      line-height: 18px;
    }

    &__header-icon {
      width: 34px;
      height: 34px;
    }

    &__caption {
      font-size: 11px;
      line-height: 12px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    &__bg-img {
      height: 100%;
      max-width: 38%;
    }

    &__footer {
      flex-direction: column;
      align-items: start;
    }
  }
}

@media screen and (max-width: 820px) {
  .banner {
    flex-direction: column;

    &__title {
      max-width: 100%;
      font-size: 20px;
      line-height: 24px;
    }

    &__bg-img {
      height: 100%;
      max-width: 50%;
    }

    &__main {
      padding: 40px 18px;
      justify-content: center;
    }

    &__sidebar {
      min-width: 100%;
      max-width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 18px;
      gap: 20px;
      background: url(../assets/img/footer.jpg) -100px center/calc(100% + 200px) no-repeat;
    }

    &__caption {
      display: block;
      max-width: 250px;
      margin: 0;
      text-align: end;
    }

    &__footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 680px) {
  .banner {
    &__caption {
      text-align: start;
    }
    &__footer {
      width: fit-content;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 520px) {
  .banner {
    &__btn {
      margin-bottom: 140px;
    }

    &__bg-img {
      top: auto;
      bottom: 0;
      transform: translate(0);
      height: 180px;
      max-width: 100%;
    }

    &__caption {
      font-size: 10px;
    }

    &__sidebar {
      flex-direction: column;
      gap: 0;
      align-items: start;
      background: url(../assets/img/banner-small.jpg) center/cover no-repeat;
    }

    &__header {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}