.breadcrumb {
  padding: 0 calc((100% - var(--desktop-width)) / 2);
  margin: 0 0 40px 0;
  display: flex;
  gap: 50px;

  &__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      border-bottom: 1px solid var(--blue-color);
      right: -35px;
      top: 50%;
    }

    &:last-child {
      cursor: default;

      &:hover {
        opacity: 1;
      }

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .breadcrumb {
    margin: 0 0 30px 0;
    gap: 40px;
  
    &__item {
      position: relative;
      font-size: 14px;
      line-height: 16px;
  
      &::after {
        width: 16px;
        right: -27px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .breadcrumb {
    margin: 0 0 20px 0;
    gap: 30px;
  
    &__item {
      position: relative;
      font-size: 11px;
      line-height: 13px;
  
      &::after {
        width: 10px;
        right: -20px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .breadcrumb {
    display: none;
  }
}