.catalogList {
  width: calc(var(--desktop-width) + 36px);
  margin: 0 auto 100px auto;

  &.products {
    width: var(--desktop-width) !important;

    .catalogList__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }

    .catalogList__item {
      width: calc((100% - 100px) / 6);
    }

    .catalogList__btn {
      display: none !important;
    }
  }

  &__title {
    margin-left: 18px;
  }

  &__slider {
    width: 100%;
    padding: 0 18px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      height: 100%;
      width: 18px;
      background-image: linear-gradient(90deg, transparent 0%, var(--bg-color) 50%);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 18px;
      background-image: linear-gradient(90deg, var(--bg-color) 50%, transparent 100%);
    }
  }

  &__list {
    list-style: none;
    padding-bottom: 15px;
  }

  &__item {
    width: calc((100% - 150px) / 6);
  }

  &__slider-pagination {
    text-align: center;

    .swiper-pagination-bullet {
      background-color: var(--cian-color) !important;
      opacity: .4;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  &__btn {
    display: none;
    margin: 0 auto;
    width: fit-content;
  }
}

.catalogItem {
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-s);
  padding: 16px 16px 27px 16px;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 2;
  }

  &__hit {
    background-color: var(--bg-color);
    padding: 3px 11px;
    border-radius: 5px;
    margin-right: auto;

    span {
      font-weight: 700;
      text-transform: uppercase;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(75deg, var(--cian-color) -10%, var(--dark-color) 75%);
    }
  }

  &__favorite {
    width: 22px;
    height: 22px;
    background: url(../assets/icons/favorite.svg) center/contain no-repeat;

    &.active {
      background-image: url(../assets/icons/favorite-active.svg);
    }
  }

  &__img {
    flex: 1;
    width: 90%;
    object-fit: contain;
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    color: var(--gray-text-color);
  }

  &__caption {
    padding-left: 15px;
    color: #9B9B9B;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: var(--cian-color);
    }

    &.notAvailable::before {
      background-color: #9B9B9B;
    }

    &.onlyOrder::before {
      background-color: var(--dark-color);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-weight: 700;
    color: var(--gray-text-color);
  }

  &__basket {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../assets/icons/basket.svg) center/20px no-repeat;
    background-color: var(--bg-color);
    position: relative;
    z-index: 2;
  }

  &__btn {
    width: fit-content;
  }
}

@media screen and (max-width: 1900px) {
  .catalogList {
    &__item {
      width: calc((100% - 72px) / 6);
    }

    &.products {
      .catalogList__list {
        gap: 15px;
      }

      .catalogList__item {
        width: calc((100% - 75px) / 6);
      }
    }
  }

  .catalogItem {
    padding: 12px 12px 20px 12px;

    &__price {
      font-size: 14px;
      line-height: 15px;
    }

    &__basket {
      width: 26px;
      height: 26px;
      background-size: 16px;
    }

    &__img {
      max-height: 130px;
    }

    &__caption {
      font-size: 14px;
      line-height: 15px;
      padding-left: 12px;

      &::before {
        width: 6px;
        height: 6px;
      }
    }

    &__hit {
      padding: 2px 6px;
      border-radius: 4px;

      span {
        font-size: 14px;
        line-height: 15px;
      }
    }

    &__favorite {
      width: 18px;
      height: 18px;
    }


    &__btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .catalogList {
    &__list {
      padding-bottom: 5px;
    }

    &__slider-pagination {
      .swiper-pagination-bullet {
        margin: 0 3px !important;
        width: 6px;
        height: 6px;
      }
    }

    &.products {
      .catalogList__list {
        gap: 10px;
      }

      .catalogList__item {
        width: calc((100% - 50px) / 6);
      }
    }
  }

  .catalogItem {
    padding: 10px 10px 16px 10px;

    &__price {
      font-size: 12px;
      line-height: 13px;
    }

    &__basket {
      width: 22px;
      height: 22px;
      background-size: 14px;
    }

    &__img {
      max-height: 120px;
    }

    &__name {
      font-size: 13px;
      line-height: 14px;
    }

    &__caption {
      font-size: 12px;
      line-height: 13px;
      padding-left: 10px;

      &::before {
        width: 5px;
        height: 5px;
      }
    }

    &__hit {
      padding: 2px 4px;

      span {
        font-size: 12px;
        line-height: 13px;
      }
    }

    &__favorite {
      width: 16px;
      height: 16px;
    }


    &__btn {
      font-size: 12px;
      line-height: 13px;
      padding: 8px 16px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .catalogList {
    width: calc(var(--desktop-width) + 24px);
    margin: 0 auto 60px auto;

    &__item {
      width: calc((100% - 50px) / 6);
    }

    &__slider-pagination {
      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
      }
    }

    &__slider {
      padding: 12px;
      &::after, &::before {
        width: 10px;
      }
    }
  }

  .catalogItem {
    padding: 8px 8px 14px 8px;
    gap: 5px;
    position: relative;

    &__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px;
    }

    &__hit {
      padding: 0 2px;
      line-height: 9px;

      span {
        font-size: 9px;
        line-height: 9px;
      }
    }

    &__favorite {
      width: 13px;
      height: 13px;
    }

    &__main {
      gap: 2px;
    }

    &__img {
      margin-top: 10px;
      max-height: 100px;
    }

    &__name {
      font-size: 11px;
      line-height: 12px;
    }

    &__caption {
      font-size: 10px;
      line-height: 11px;
    }

    &__btn {
      font-size: 10px;
      line-height: 11px;
    }

    &__price {
      font-size: 11px;
      line-height: 12px;
    }

    &__basket {
      width: 20px;
      height: 20px;
      background-size: 13px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .catalogList {
    &__item {
      width: calc((100% - 40px) / 5);
    }

    &.products {
      .catalogList__item {
        width: calc((100% - 40px) / 5);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .catalogList {
    width: var(--desktop-width);

    &__title {
      margin-left: 0;
    }

    &__slider {
      padding: 0;
      overflow: visible;
      margin-bottom: 20px;

      &::after, &::before {
        display: none;
      }
    }

    &__list {
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
    }

    &__item {
      width: calc((100% - 18px) / 4);
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: block;
      }
    }

    &.products {
      .catalogList__list {
        gap: 6px;
      }

      .catalogList__item {
        width: calc((100% - 18px) / 4);
        display: block !important;
      }
    }

    &__btn {
      display: block;
    }
  }
}

@media screen and (max-width: 720px) {
  .catalogList {
    &__item {
      width: calc((100% - 12px) / 3);

      &:nth-child(4) {
        display: none;
      }
    }

    &.products {
      .catalogList__item {
        width: calc((100% - 12px) / 3);
      }
    }
  }

  .catalogItem {
    padding: 10px 10px 15px 10px;
    gap: 7px;

    &__hit {
      padding: 2px 7px 0 7px;

      span {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__favorite {
      width: 13px;
      height: 13px;
    }

    &__name {
      font-size: 14px;
      line-height: 14px;
    }

    &__main {
      gap: 2.2px;
    }

    &__caption {
      font-size: 10px;
      line-height: 11px;

      &::before {
        width: 5px;
        height: 5px;
      }
    }

    &__price {
      font-size: 14px;
      line-height: 14px;
    }

    &__basket {
      width: 27px;
      height: 27px;
      background-size: 13px;
    }

    &__btn {
      padding: 10px 0;
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 520px) {
  .catalogList {
    &__item {
      width: calc(50% - 3px);

      &:nth-child(4) {
        display: block;
      }
    }

    &.products {
      .catalogList__item {
        width: calc(50% - 3px);
      }
    }
  }
}