.conditions {
  width: var(--desktop-width);
  margin: 0 auto 100px auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
  }

  &__container {
    width: 85px;
    height: 85px;
    aspect-ratio: 1 /1;
    flex: 1;
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    border: 12px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    color: var(--gray-text-color);
    text-align: center;
    font-size: 15px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1900px) {
  .conditions {
    &__container {
      width: 75px;
      height: 75px;
      border: 10px solid var(--white-color);
    }

    &__text {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .conditions {
    &__container {
      width: 65px;
      height: 65px;
      border: 8px solid var(--white-color);
    }

    &__text {
      font-size: 12px;
      line-height: 13px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .conditions {
    margin: 0 auto 60px auto;

    &__item {
      gap: 20px;
    }

    &__container {
      width: 50px;
      height: 50px;
      border: 5px solid var(--white-color);
    }

    &__text {
      font-size: 10px;
      line-height: 11px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .conditions {
    gap: 15px;

    &__container {
      width: 60px;
      height: 60px;
    }

    &__text {
      font-size: 9px;
      line-height: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .conditions {
    gap: 30px;
    flex-wrap: wrap;

    &__item {
      flex: auto;
      width: calc((100% - 60px) / 3);
    }

    &__container {
      width: 90px;
      height: 90px;
      padding: 15px;
      border: 10px solid var(--white-color);
    }

    &__text {
      font-size: 13px;
      line-height: 14px;
    }
  }
}


@media screen and (max-width: 720px) {
  .conditions {
    &__item {
      gap: 15px;
    }
    &__container {
      width: 70px;
      height: 70px;
      padding: 10px;
      border: 8px solid var(--white-color);
    }
    &__text {
      font-size: 12px;
      line-height: 13px;
    }
  }
}
@media screen and (max-width: 520px) {
  .conditions {
    column-gap: 6px;
    row-gap: 28px;

    &__item {
      width: calc(50% - 3px);
    }

    &__container {
      width: 90px;
      height: 90px;
      padding: 12px;
      border: 10px solid var(--white-color);
    }
  }
}