.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 45px calc((100% - var(--desktop-width)) / 2);
  gap: 15px;

  &__title {
    color: var(--dark-text-color);
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__subtitle {
    font-family: var(--font-family-sub);
    color: var(--dark-text-color);
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    -webkit-text-stroke: 0.9px var(--dark-text-color);
  }

  &__form {
    width: 100%;
    max-width: 735px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__fieldset {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  &__label {
    min-width: 105px;
    padding: 20px 0;

    &.password {
      min-width: 200px;
    }
  }

  &__input {
    width: 100%;
    outline: none;
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    border-radius: var(--radius-full);
    padding: 17px 35px;

    &::placeholder {
      color: var(--blue-color);
    }
  }

  &__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__checkbox {
    color: var(--blue-color);
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    input[type="checkbox"] {
      width: 21px;
      height: 21px;
      border-radius: 2px;
      accent-color: var(--blue-color);
      background-color: var(--white-color);
      cursor: pointer;
    }
  }

  &__save {
    margin: 20px 0 0 auto;
    padding: 14px 100px;
  }
}
