.profileCart {
  &__header {
    width: 100%;
    padding: 0 10px 0 40px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-weight: 800;
    flex: 1;
    color: var(--blue-text-color);
    text-transform: uppercase;

    &:first-child {
      flex: 3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--radius-l);
    box-shadow: var(--box-shadow);
  }

  &__footer {
    width: 100%;
    padding: 0 0 0 65px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__date {
    font-size: 15px;
    line-height: 16px;
    color: var(--blue-text-color);
    font-weight: 400;
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px
  }

  &__buy {
    font-size: 38px;
    line-height: 47px;
    color: var(--blue-text-color);
    font-weight: 700;

    span {
      text-transform: uppercase;
      font-size: 38px;
      line-height: 47px;
      color: var(--black-color);
      font-weight: 700;
    }
  }

  &__save {
    padding: 15px 60px;
    margin-left: auto;
  }

  &__sub {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .profile__form {
      max-width: 100%;
    }
    
    .profile__subtitle {
      color: black;
    }
  }

  &__delivery {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__radio-item {
    display: flex;
    gap: 40px;
    align-items: center;

    input[type="radio"] {
      outline: none;
      border: none;
      appearance: none;
      position: relative;
      width: 28px;
      height: 28px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid var(--cian-color);
        background-color: var(--white-color);
      }

      &:checked::after {
        background-color: var(--cian-color);
      }
    }
  }
}

@media screen and (max-width: 1900px) {
  .profileCart {
    &__header {
      gap: 30px;
    }

    &__title:first-child {
      flex: 5;
    }

    &__buy {
      font-size: 24px;
      line-height: 26px;

      span {
        font-size: 24px;
        line-height: 26px;
      }
    }

    &__list {
      padding: 12px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .profileCart {
    &__title {
      font-size: 14px;
      line-height: 16px;
    }

    &__buy {
      font-size: 18px;
      line-height: 20px;

      span {
        font-size: 18px;
        line-height: 20px;
      }
    }
    &__footer {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .profileCart {
    &__title {
      font-size: 13px;
      line-height: 14px;
    }
    &__date {
      font-size: 11px;
      line-height: 12px;
    }
    &__buy {
      font-size: 16px;
      line-height: 18px;

      span {
        font-size: 16px;
        line-height: 18px;
      }
    }
    &__footer {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .profileCart {
    &__header {
      display: none;
    }

    &__list {
      padding: 10px;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .profileCart {
    &__footer {
      padding-left: 20px;
    }

    &__total {
      gap: 10px;
    }

    &__save {
      padding: 10px 30px;
    }

    &__list {
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .profileCart {
    &__footer {
      padding: 0;
      width: 100%;
      flex-direction: column;
    }

    &__total {
      width: 100%;
      align-items: start;
    }

    &__save {
      margin-left: auto;
    }
  }
}