.projects {
  width: calc(var(--desktop-width) + 64px);
  margin: 0 auto 100px auto;

  &_page {
    width: var(--desktop-width);

    .projects__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px
    }

    .projectItem {
      width: calc((100% - 40px) / 3);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
  }

  &__more {
    height: fit-content;
    padding-right: 64px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      width: 26px;
      height: 10px;
      background: url(../assets/icons/arror-for-btn.svg) center/contain no-repeat;
    }

    &_mobile {
      width: fit-content;
      margin: 20px auto 0 auto;
      display: none;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding: 0 32px;

    .swiper-button-next,
    .swiper-button-prev {
      top: 0;
      height: calc(100% + 36px);
      background-color: var(--bg-color);
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      color: transparent;
      font-size: 0;
      width: 13px;
      height: 22px;
      background: url(../assets/icons/arrow-for-slider.svg) center/contain no-repeat;
    }

    .swiper-button-prev::after {
      transform: rotate(180deg);
    }
  }
}

.projectItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  position: relative;

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: var(--radius-s);
  }

  &__btn {
    font-weight: 700;
    color: var(--dark-text-color);
    border-bottom: 2px solid var(--dark-text-color);
  }
}


@media screen and (max-width: 1200px) {
  .projectItem {
    gap: 10px;

    &__img {
      height: 240px;
    }

    &__btn {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    width: var(--desktop-width);

    &__slider {
      padding: 0;

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  .projectItem {
    width: calc(50% - 8px);
    display: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }
  }
}

@media screen and (max-width: 720px) {
  .projects {
    &__more {
      display: none;

      &_mobile {
        display: block;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
    }
  }

  .projectItem {
    width: 100%;

    &:nth-child(4) {
      display: none;
    }
  }
}